/**  Basic Page CSS **/
body {
  font-weight: 200;
  background-color: #337ab7;
}

header a,
footer a {
  color: rgb(233, 168, 168);
}

footer {
  font-size: 0.8em;
}

.bg-primary,
.btn-primary {
  background-color: #46e68e !important;
  border: inherit;
}